/* *********for all page*************** */
* {
  margin: 0%;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;

  color: #747474;
}

h1 {
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
/************ partie navbar*************** */
#about {
  color: #00b39b;
}
.navbar {
  padding: 2%;
  margin: 0%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
}
header img {
  width: 20%;
}
ul {
  font-size: 0.9375rem;
  line-height: 2em;
  padding: 1.33 em 0;
}
li {
  margin: 20px;
  display: inline;
}
a {
  text-decoration: none;
  font-size: 0.9375rem;
  font-weight: 400;
  color: #ababab;
  font-style: gras;
  padding: 0 0.6 em;
}
/* #intro {
  display: flex;
} */
#intro {
  padding: 0% 10%;
}
#intro img {
  display: block;
  margin: 0 auto;
  padding: 4%;
}
.intro-h1 {
  font-size: 2.125rem;
  color: #00b39b;
  text-align: center;
  margin: 1 em 0;
  font-weight: 300;
}
.container {
  display: flex;
  padding: 4%;
  justify-content: space-between;
}
.container p {
  line-height: 200%;
}
/************** partie main introduction**************** */
.cards {
  display: flex;
  justify-content: space-around;
  color: white;
  justify-content: space-between;
  line-height: 200%;
}
.card {
  opacity: 1;
  box-sizing: border-box;
  width: 25%;
  padding: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  border-radius: 2%;
  margin-bottom: 10px;
  width: 25%;
}
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.drop-cont {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-cont a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.drop-cont a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .drop-cont {
  display: block;
}
/*list apres les cards   */
.cont {
  display: flex;
}
.list {
  color: #ababab;
  margin-left: 10%;
}
.list a {
  padding: 1%;
  margin: 10px;
}
.list a svg {
  color: #ababab;
}
.brands__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
  width: 67%;
  list-style: none;
}
.brands__logos li {
  font-size: 1rem;
  display: inline-block;
  width: 160px;
  padding: 5 px 0;
}
.sec {
  background-color: rgb(196, 246, 241);
  margin: auto;
  padding: 20%;
}
/* seeeeeeeection bleeeeeu */
.sec {
  display: flex;
  margin: 1% auto;
  padding: 7%;
  height: 6%;
}
.crd {
  background-color: white;
  padding: 10%;
  margin: 5%;
  border-radius: 3%;
}
.left {
  background-image: url("./img/sygnet.png");
  background-size: 30%;
  font-family: Roboto, Arial, sans-serif;
  background-repeat: no-repeat;
  align-items: center;
}
.left p,
h1 {
  margin: 2% 15%;
}
.for-cards {
  display: grid;
  margin: 0 auto;
  /* max-width: 1000px; */
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
  font-family: sans-serif;
  box-sizing: inherit;
}
.crd {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
  height: 250px;
  text-align: center;

  font-size: 0.8125em;
}
